In [16]:
import pandas as pd
import re
from datetime import datetime

In [8]:
#import data from Comparative Agendas Project
url = 'https://minio.la.utexas.edu/compagendas/adhocfiles/Boydstun_NYT_FrontPage_Dataset_1996-2006_0_PAP2014_recoding_wmanual_full.csv'

cap_nyt = pd.read_csv(url, encoding="latin1")

cap_nyt.head()

,article_id,date,title,summary,topic_2digit,topic_4digit,topic_6digit,CAPtopic_2digit,CAPtopic_4digit,CAPtopic_6digit,...,waronterror,katrina,israelpalestine,immigration,presidentialelections,clintonimpeachment,enron,darfur,raceethnicity,schiavo
0,7662,8/10/98,Talks Are Pressed to End Strike By Phone Worke...,Talks held to end phone workers strike,5,504,50400,17,1706,170600,...,0,0,0,0,0,0,0,0,0,0
1,28483,12/21/05,Pensions Were Last Sticking Point,NYC transit strike,5,504,50400,10,1000,100000,...,0,0,0,0,0,0,0,0,0,0
2,2581,11/17/96,"Once Again, the Hoffa Name Rouses the Teamster...",teamsters union,5,504,50400,10,1006,100600,...,0,0,0,0,0,0,0,0,0,0
3,28531,12/28/05,TRANSIT WORKERS IN DEAL TO SHARE HEALTH PLAN COST,NYC transit workers' strike settlement,5,504,50400,10,1000,100000,...,0,0,0,0,0,0,0,0,0,0
4,19942,10/9/02,PRESIDENT INVOKES TAFT-HARTLEY ACT TO OPEN 29 ...,Taft-Hartley Act invoked to reopen closed ports,5,504,50400,10,1007,100700,...,0,0,0,0,0,0,0,0,0,0

In [10]:
#a function for cleaning text
def clean_text(text):
    if isinstance(text, str):
        #Remove numbers
        text = re.sub(r"[0-9]", "", text)
        #Use white space instead of - or --
        text = re.sub(r"-", " ", text)
        text = re.sub(r"[-—]", " ", text)
        # Remove punctuation and _
        text = re.sub(r'[^\w\s]', '', text)
        text = re.sub(r"_", "", text)
        
        # Remove extra spaces
        text = re.sub(r'\s+', ' ', text)

        # Convert to lowercase
        text = text.lower()
                
    return text

In [17]:
#clean the main variables
cap_nyt['title_clean'] = cap_nyt['title'].apply(clean_text)
cap_nyt['summary_clean'] = cap_nyt['summary'].apply(clean_text)
cap_nyt['date'] = cap_nyt['date'].apply(lambda x: datetime.strptime(x, '%m/%d/%y').date())
cap_nyt = cap_nyt[['article_id','date','title','title_clean','summary','summary_clean','topic_2digit',
                 'topic_4digit','topic_6digit','CAPtopic_2digit','CAPtopic_4digit','CAPtopic_6digit']]
cap_nyt.head()

,article_id,date,title,title_clean,summary,summary_clean,topic_2digit,topic_4digit,topic_6digit,CAPtopic_2digit,CAPtopic_4digit,CAPtopic_6digit
0,7662,1998-08-10,Talks Are Pressed to End Strike By Phone Worke...,talks are pressed to end strike by phone worke...,Talks held to end phone workers strike,talks held to end phone workers strike,5,504,50400,17,1706,170600
1,28483,2005-12-21,Pensions Were Last Sticking Point,pensions were last sticking point,NYC transit strike,nyc transit strike,5,504,50400,10,1000,100000
2,2581,1996-11-17,"Once Again, the Hoffa Name Rouses the Teamster...",once again the hoffa name rouses the teamsters...,teamsters union,teamsters union,5,504,50400,10,1006,100600
3,28531,2005-12-28,TRANSIT WORKERS IN DEAL TO SHARE HEALTH PLAN COST,transit workers in deal to share health plan cost,NYC transit workers' strike settlement,nyc transit workers strike settlement,5,504,50400,10,1000,100000
4,19942,2002-10-09,PRESIDENT INVOKES TAFT-HARTLEY ACT TO OPEN 29 ...,president invokes taft hartley act to open ports,Taft-Hartley Act invoked to reopen closed ports,taft hartley act invoked to reopen closed ports,5,504,50400,10,1007,100700